{% extends 'recettes/_index.html' %}

{% block body %}


    <div class="col-12 ">
        <div class="card-columns">
            {% for r in liste_recettes %}
                {#                    <div class="card "><a href="{% url 'recette' r.slug r.cat_id %}">#}
                <div class="card">
                    <a href="{% url 'recette' r.slug r.category_id %}">
                        <div class="card-title">{{ r.nom|linebreaks|truncatechars:28}}</div>

                        <blockquote class="card-block card-blockquote">
                            {% if r.url_photo or r.image %}
                                <img class="img_recette_index"
                                     src="../../../static/img/img_recettes/{{ r.image }}">
                            {% endif %}
                            <div class="card_texte">
                                {% if  %}

                                {% endif %}  r.recette|length > 200 %}
                                    <p>{{ r.recette|linebreaks|truncatechars:200 }}<br/></p>
                                {% else %}
                                    <p>{{ r.recette|linebreaks }}</p>
                                {% endif %}
                                <footer>
                                    <p class=" col_cat">
                                        <cite class="badge badge-info" title="Source Title">
                                            {% for c in liste_cat %}
                                                {% if c.id == r.category_id %}
                                                    <a href="{% url 'voir_recettes_par_categories' c.id %} ">{{ c.name }}</a>
                                                {% endif %}
                                            {% endfor %}
                                        </cite> <br/>
                                    </p>
                                </footer>
                            </div>
                        </blockquote>
                    </a>

                </div>
            {% endfor %}
        </div>

    </div>


{% endblock body %}