{% extends "livre_recettes/base.html" %}

{% load filtre_perso %}
{% load static %}

{% block content %}



    <!-- Section-->
    <section class="py-4">
        <div class="container-fluid px-4 px-lg-6 mt-5">
            <div class="row gx-4 gx-lg-2 row-cols-2 row-cols-md-4 row-cols-xl-6 justify-content-center">

                {% for r in rec_list %}
                    <div class="col mb-4" style="cursor: pointer;" onclick="window.location=' r{{ r.id }}'">
                        <div class="card h-100 m-0"
                             style="border-top-left-radius: 3rem; border-top-right-radius: 1rem; ">

                            <!-- Product image-->
                            {#                            <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />#}
                            {#                            <img class="card-img-top " style="border: 0px solid #ddd; padding: 5px; height: 12rem; border-top-left-radius: 3rem; border-top-right-radius: 1rem; " src="{% static 'img/img_recettes/' %}{{ r.picture }}" alt="..." />#}

                            <img class="card-img-top "
                                 style="border: 0 solid #ddd; padding: 5px; height: 12rem; border-top-left-radius: 3rem; border-top-right-radius: 1rem; "
                                 src="{% static 'img/img_recettes/' %}{{ r.picture }}" alt="..."/>
                            <!-- Product details-->
                            <div class="card-body p-1" style="background-color:#69603e">
                                <div class="text-center fst-italic" style="color:#ece3e3">
                                    <!-- Product name-->
                                    <p class="fs-6">{{ r.name }}</p>
                                    <!-- Product price-->
                                </div>
                            </div>
                            <!-- Product actions-->
                            {#                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent ">#}
                            {#                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="rec/{{ r.id }}">Voir la recette</a></div>#}
                            {#                            </div>#}
                        </div>
                    </div>
                {% endfor %}

            </div>
            <div class="pagination">
                {% if rec_list.has_previous %}
                    <a href="{% url 'recettes' %}?p={{ rec_list.previous_page_number }}"> Précédente</a>
                {% endif %}

                <span class="current">
             &nbsp;&nbsp;Page {{ rec_list.number }} sur {{ rec_list.paginator.num_pages }}&nbsp;
            </span>

                {% if rec_list.has_next %}
                    &nbsp; <a href="{% url 'recettes' %}?p={{ rec_list.next_page_number }}">Suivante </a>
                    &nbsp;&nbsp; <a href="{% url 'recettes' %}?p={{ rec_list.paginator.num_pages }}">Dernière </a>
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}

