/*@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap');

html {
    height: 100%;
    margin: 0;
    border: 0;

}

/*body {*/


/*}*/

.container {
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    color: #1b1e21;
    background-color: #9EECFF;
}

header {
    height: 100px;
    background-color: #5192C4;
    margin-right: -15px;
    margin-left: -15px;
    padding-right: 15px;
    padding-left: 15px;
    -webkit-box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 1);
    box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 1);
    font-family: 'Lato', sans-serif;
}

.content {
    background-color: #9EECFF;
}

.titre_index a {
    font-size: 60px;
    text-decoration: none;
    color: black;
    margin-left: 70px;
}

.btn_ajout {
    margin-top: 140px;
    text-align: right;
    /*padding-top:40px;*/
}

.navbar {
    color: #252525;
    background-color: #9EECFF;
    font-size: 20px;
    height: 50px;
    padding-left: 40px;
    padding-right: 40px;
    margin-left: -15px;
    margin-right: -20px;
    -webkit-box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 1);
    box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 1);
}

.nav-item {
    color: #252525;
}

.navbar a {
    color: #252525;
}

.nav-link {
    margin-right: 60px;
    margin-left: 40px;
}

footer {
    /*margin-top:20px;*/
}

section {
    font-family: 'Lato', sans-serif;
    margin-left: 5px;
    margin-top: 10px;
    margin-right: -13px;
    /*background-color: #94DBFF;*/
}

.card-columns {
    padding-left: 5px;
    margin-top: 10px;
    background-color: #9EECFF;
    /*border-radius: 30px 0 30px 0 ;*/
    border-radius: 1.5rem 0 0 0;
}


.card {
    /*background-color: #94DBFF;*/
    border-radius: 1.5rem 0 0 0;
!important;
    border-width: 2px;
    border-style: solid;
    -webkit-box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 1);
    box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 1);
}

.card-title {
    margin: -1px;
    height: 36px;
    /*background-color: #5192C4;*/
    background-color: #9EECFF;
    text-align: center;
    /*border-radius: 30px 0 30px 0;*/
    border-radius: 0.25rem 0.25rem 0 0;
!important;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 21px;
    line-height: 19px;
}


.card_texte {
    padding-left: 20px;
    padding-right: 10px;
    margin-top: 20px;
}


.card a {
    outline: none;
    text-decoration: none;
    color: #252525;
}

.card img {
    padding-top: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.categorie_columns {
    margin-top: 19px;
    padding-top: 15px;
}

.titre_cat {
    padding-left: 15px;
    padding-top: 0px;
    padding-bottom: 15px;
}

.img_col_cat {
    padding-right: 15px;
    margin-top: -5px;
    margin-bottom: -7px;
    width: 55px;
}

.col_cat a {
    font-size: 17px;
}

.col_cat a {
    outline: none;
    text-decoration: none;
    padding: 2px 1px 0;
}

.col_cat a:link {
    color: #252525;
}


.col_cat a:visited {
    color: #252525;
}

.col_cat a:focus {
    border-bottom: 1px solid;
    /*background: #252525;*/
}

.col_cat a:hover {
    /*  border-bottom: 1px solid;*/
    /*background: #252525;*/
}

.col_cat a:active {
    /*background: #252525;*/
    color: #252525;
}

.bouton_ajout {
    margin-bottom: 15px;
}

.form_ajout {
    padding-top: 30px;
    padding-bottom: 60px;
}

.form-row {

}

.formu {

    -webkit-box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 1);
    box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 1);
}

.btn_formu {
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
    display: inline-block;

}

.recette_card_int {
    background-color: white;
    padding-left: 30px;
    padding-right: 20px;
    padding-top: 15px;
    margin-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px 0;
!important;
    border: 1 solid;
    -webkit-box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 1);
    box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 1);
}

.icone_edition {
    background-color: white;
    width: 52px;
    height: 127px;
    margin-top: 25px;
    margin-left: 10px;
    border-radius: 20px 20px;
    -webkit-box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 1);
    box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 1);

}

.icone_ed {
    margin-top: 15px;
    margin-left: 5px;
}

.icone_supp {
    margin-top: 20px;
    margin-left: 6px;
}

.icone_ajout {
    margin-top: 2px;
    width: 40px;
}

.icone_home {
    margin-top: 2px;
    width: 40px;
}

.croix_ajout {
    position: absolute;
}

.ed_img_recette {
    margin-top: 40px;
    /*padding-top:20px;*/
}

.div_img_recette {
    position: absolute;
}

.img_recette {
    position: absolute;
    max-width: 160px;
    top: 0;
    right: 0;
    margin-right: 15px;
    margin-top: 67px;

    border-radius: 15px;
}

.img_recette_index {
    max-width: 200px;
    margin-top: -15px;
    border-radius: 15px;
}

.footer_recette {
    height: 60px;
    /*position: absolute;*/
    bottom: 0;

}

.texte_recette {
    /*margin-right:0px;*/
    padding-top: 15px;
    padding-left: 13px;


}

.chargement_image {
    margin-top: 60px;
    margin-bottom: 40px;

}

.zone_btn_photo_up {
    margin-left: -16px;
}

.zone_btn_photo_dl {
    margin-left: 26px;
    margin-right: -16px;

}

.recherche {
    margin-top: 5px;
}

.btn_search {
    width: 55px;
    /*height:40px;*/
    margin-top: -25px;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    color: #0000EE;
    padding: 0;
    text-decoration: underline;
    font-family: inherit;
    font-size: inherit;
}

.btn_search img {
    width: 40px;
    margin-top: -3px;
}

.btn_search button {
    margin-bottom: 20px;
    /*padding-top:-10px;*/
}

.titre_recherche {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
}